:root {
  font-size: 16px;
  --oragen-color: #e8891c;
  --gray-color: #9b9b9b;
  --white-color: #f5f5fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white-color);
  font-family: "Noto Sans", sans-serif;
}

input,
button {
  font-family: "Noto Sans", sans-serif;
}

button {
  cursor: pointer;
  transition: filter 0.2s;
}

button:hover {
  filter: brightness(0.9);
}

h1 {
  color: black;
}
